<div *ngIf = 'recipe' class='selected-recipe-container'><h1>{{recipe.name}}</h1>
    <ul>
        <li *ngFor = 'let ingredient of recipe.ingredients'>
            {{ingredient.quantity.value}} 
            {{ingredient.quantity.optionalValue}} 
            {{ingredient.quantity.unitOfMeasurement}} 
            {{ingredient.name}}<a *ngIf = 'ingredient.affix'>, </a>
            {{ingredient.affix}}
        </li>
    </ul>
    <img src='{{imageUrlRelativePath}}{{recipe.imageUrl}}' class='recipe-image'>
    <div 
    (click)='addIngredientsToShoppingBasket(recipe.ingredients)'>
    Add to you shopping basket
    </div>
</div>

<div *ngIf = '!recipe' class='selected-recipe-container'><h1>Please select a recipe from Menu</h1>
</div>

