.recipe-image {
    width: 300px;
}

.selected-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
    background-color: bisque;
}
