.homepage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

.homepage-recipes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage-recipe-container {
    display: flex;
    flex-direction: column;
}

.homepage-recipe-image {
    width: 100px;
}